<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Title</title>

    <!-- CSS -->
    <link href="style.css" rel="stylesheet">

    
  </head>
  <body>
    <div ng-app="testApp" class="appBox">
      <div ng-controller="testController">
        <span>First Name:</span>
        <input type="text" ng-model="first"><br>
        <span>Last Name:</span>
        <input type="text" ng-model="last"><br>
        <button ng-click='updateMessage()'>Message</button>
        <hr>
        {{heading + message}}
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- scripts -->
    <script src="app.js"></script>
  </body>
</html>
